<sw-post title="Release 1.1.0"
date="2021/12/10"
topics="release">
<p>Release 1.1.0 is available from the <doc href="download">Download</doc> page.</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>use Xtmpl 0.19.0.</li>
</ul>
</sw-post>