<sw-post title="Release 1.0"
date="2021/08/03"
topics="release">
<p>Release 1.0 is available from the <doc href="download">Download</doc> page.</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>Rewrite http client and server parts using cohttp,</li>
<li>use Dune to build and install,</li>
<li>various fixes.</li>
</ul>
</sw-post>