<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>Erssical : Producing Event RSS feeds in Jekyll</title>
<link href="https://zoggy.frama.io/erssical/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="page">
<div class="navbar">
<div class="navbar-inner">
  <ul class="nav">
    <li class="&lt;navbar-home/&gt;"><a href="https://zoggy.frama.io/erssical/">Erssical</a></li>
    <li class="&lt;navbar-download/&gt;"><a href="https://zoggy.frama.io/erssical/download.html">Download/Install</a></li>
    <li class="&lt;navbar-doc/&gt;"><a href="https://zoggy.frama.io/erssical/doc.html">Documentation</a></li>
    <li class="active"><a href="https://zoggy.frama.io/erssical/blog.html">Blog</a></li>
    <li class="&lt;navbar-about/&gt;"><a href="https://zoggy.frama.io/erssical/about.html">?</a></li>
  </ul>
</div>
</div>

<div id="header">
<div class="page-title">Producing Event RSS feeds in Jekyll</div>
</div>
<div id="page-body">
<div class="date">April 30, 2013</div>


<p>
Here is a simple way to produce Event RSS feeds for a web site
developed with <span class="ext-a"><a href="http://jekyllrb.com/">Jekyll</a></span>.
</p>

<p>
In a post, simply define additional fields, here starting with <code>ev_</code>:
</p>
<pre class="code-xml"><span class="hl std">---
layout: post
title: A wonderful event title
ev_link: http://link.to/the/wonderful/event.tml
ev_keywords:
  - ocaml
  - functional programming
  - typing
ev_speakers:
  - Jean Dupond, bla bla bla
  - George Dupont
ev_startDate: Thu, 23 May 2013 9:00:00 +0200
ev_endDate: Thu, 23 May 2013 17:15:00 +0200
---
</span><span class="hl kwa">&lt;rest</span><span class="hl std"> </span><span class="">of</span><span class="hl std"> </span><span class="">the</span><span class="hl std"> </span><span class="">post</span><span class="hl kwa">&gt;</span><span class="hl std">
</span></pre>
<p>
Then, if your RSS feed template in located in <code>feed.xml</code>, edit this file
to make it look like the following, to add event fields:
</p>
<pre class="code-xml"><span class="hl std">---
layout: none
---
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
</span><span class="hl kwa">&lt;rss</span><span class="hl std"> </span><span class="">version</span><span class="hl std">=</span><span class="hl str">"2.0"</span><span class="hl std">
  </span><span class="">xmlns:atom</span><span class="hl std">=</span><span class="hl str">"http://www.w3.org/2005/Atom"</span><span class="hl std">
  </span><span class="">xmlns:ev</span><span class="hl std">=</span><span class="hl str">"http://zoggy.github.io/erssical/doc-event.html#"</span><span class="hl std">
</span><span class="hl kwa">&gt;</span><span class="hl std">
 </span><span class="hl kwa">&lt;channel</span><span class="hl kwa">&gt;</span><span class="hl std">
  </span><span class="hl kwa">&lt;title</span><span class="hl kwa">&gt;</span><span class="hl std">{{ site.name }}</span><span class="hl kwa">&lt;/title</span><span class="hl kwa">&gt;</span><span class="hl std">
  </span><span class="hl kwa">&lt;description</span><span class="hl kwa">&gt;</span><span class="hl std">{{ site.description }}</span><span class="hl kwa">&lt;/description</span><span class="hl kwa">&gt;</span><span class="hl std">
  </span><span class="hl kwa">&lt;link</span><span class="hl kwa">&gt;</span><span class="hl std">{{ site.url }}</span><span class="hl kwa">&lt;/link</span><span class="hl kwa">&gt;</span><span class="hl std">
  {% for post in site.posts limit:10 %}
  </span><span class="hl kwa">&lt;item</span><span class="hl kwa">&gt;</span><span class="hl std">
   </span><span class="hl kwa">&lt;title</span><span class="hl kwa">&gt;</span><span class="hl std">{{ post.title }}</span><span class="hl kwa">&lt;/title</span><span class="hl kwa">&gt;</span><span class="hl std">
   </span><span class="hl kwa">&lt;description</span><span class="hl kwa">&gt;</span><span class="hl std">{{ post.content | xml_escape }}</span><span class="hl kwa">&lt;/description</span><span class="hl kwa">&gt;</span><span class="hl std">
   </span><span class="hl kwa">&lt;pubDate</span><span class="hl kwa">&gt;</span><span class="hl std">{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</span><span class="hl kwa">&lt;/pubDate</span><span class="hl kwa">&gt;</span><span class="hl std">
   </span><span class="hl kwa">&lt;link</span><span class="hl kwa">&gt;</span><span class="hl std">{{ site.url }}{{ post.url }}</span><span class="hl kwa">&lt;/link</span><span class="hl kwa">&gt;</span><span class="hl std">
   </span><span class="hl kwa">&lt;guid</span><span class="hl std"> </span><span class="">isPermaLink</span><span class="hl std">=</span><span class="hl str">"true"</span><span class="hl kwa">&gt;</span><span class="hl std">{{ site.url }}{{ post.url }}</span><span class="hl kwa">&lt;/guid</span><span class="hl kwa">&gt;</span><span class="hl std">
   {% if post.ev_link %}</span><span class="hl kwa">&lt;ev:link</span><span class="hl kwa">&gt;</span><span class="hl std">{{ post.ev_link }}</span><span class="hl kwa">&lt;/ev:link</span><span class="hl kwa">&gt;</span><span class="hl std">{% endif %}
   {% if post.ev_keywords %}
    </span><span class="hl kwa">&lt;ev:keywords</span><span class="hl kwa">&gt;</span><span class="hl std">
      {% for kw in post.ev_keywords %}</span><span class="hl kwa">&lt;item</span><span class="hl kwa">&gt;</span><span class="hl std">{{ kw }}</span><span class="hl kwa">&lt;/item</span><span class="hl kwa">&gt;</span><span class="hl std">{% endfor %}
    </span><span class="hl kwa">&lt;/ev:keywords</span><span class="hl kwa">&gt;</span><span class="hl std">
   {% endif %}
   {% if post.ev_location %}
     </span><span class="hl kwa">&lt;ev:location</span><span class="hl kwa">&gt;</span><span class="hl std">{{ post.ev_location }}</span><span class="hl kwa">&lt;/ev:location</span><span class="hl kwa">&gt;</span><span class="hl std">
   {% endif %}
   {% if post.ev_audience %}
     </span><span class="hl kwa">&lt;ev:audience</span><span class="hl kwa">&gt;</span><span class="hl std">{{ post.ev_audience }}</span><span class="hl kwa">&lt;/ev:audience</span><span class="hl kwa">&gt;</span><span class="hl std">
   {% endif %}
   {% if post.ev_endDate %}
     </span><span class="hl kwa">&lt;ev:endDate</span><span class="hl kwa">&gt;</span><span class="hl std">{{ post.ev_endDate }}</span><span class="hl kwa">&lt;/ev:endDate</span><span class="hl kwa">&gt;</span><span class="hl std">
   {% endif %}
   {% if post.ev_startDate %}
     </span><span class="hl kwa">&lt;ev:startDate</span><span class="hl kwa">&gt;</span><span class="hl std">{{ post.ev_startDate }}</span><span class="hl kwa">&lt;/ev:startDate</span><span class="hl kwa">&gt;</span><span class="hl std">
   {% endif %}
   {% if post.ev_organizers %}
     </span><span class="hl kwa">&lt;ev:organizers</span><span class="hl kwa">&gt;</span><span class="hl std">
       {% for p in post.ev_organizers %}
         </span><span class="hl kwa">&lt;item</span><span class="hl kwa">&gt;</span><span class="hl std">{{ p }}</span><span class="hl kwa">&lt;/item</span><span class="hl kwa">&gt;</span><span class="hl std">{% endfor %}
     </span><span class="hl kwa">&lt;/ev:organizers</span><span class="hl kwa">&gt;</span><span class="hl std">
   {% endif %}
   {% if post.ev_speakers %}
     </span><span class="hl kwa">&lt;ev:speakers</span><span class="hl kwa">&gt;</span><span class="hl std">
       {% for p in post.ev_speakers %}</span><span class="hl kwa">&lt;item</span><span class="hl kwa">&gt;</span><span class="hl std">{{ p }}</span><span class="hl kwa">&lt;/item</span><span class="hl kwa">&gt;</span><span class="hl std">{% endfor %}
     </span><span class="hl kwa">&lt;/ev:speakers</span><span class="hl kwa">&gt;</span><span class="hl std">
   {% endif %}
  </span><span class="hl kwa">&lt;/item</span><span class="hl kwa">&gt;</span><span class="hl std">
  {% endfor %}
 </span><span class="hl kwa">&lt;/channel</span><span class="hl kwa">&gt;</span><span class="hl std">
</span><span class="hl kwa">&lt;/rss</span><span class="hl kwa">&gt;</span><span class="hl std">
</span></pre>


<div class="doc-keywords">
  <div class="bloc-keywords">
  Topics: <div class="keywords"><a href="https://zoggy.frama.io/erssical/topic_example.html"><span itemprop="keywords">example</span></a></div>
  </div>
  <div class="bloc-keywords">
  Keywords: <div class="keywords"><a href="https://zoggy.frama.io/erssical/kw_jekyll.html"><span itemprop="keywords">jekyll</span></a>, <a href="https://zoggy.frama.io/erssical/kw_reseau-loops.html"><span itemprop="keywords">reseau-loops</span></a></div>
  </div>
</div>
</div>
</div>
</body>
</html>
