<sw-page title="About this site"
navbar-about="active"
>
<section>
<p>
This site is made with
<ext-a href="https://www.good-eris.net/stog">Stog</ext-a>.
</p>
<p>
A large part of the style is taken from
<ext-a href="http://twitter.github.com/bootstrap/">Bootstrap</ext-a>
 and
<ext-a href="http://lesscss.org/">{less}</ext-a>
is used to compute it.
</p>
</section>
</sw-page>