<sw-page title="Erssical command line tool"
navbar-doc="active"
>
<p>
The <code>erssical</code> command line tool executes queries, fetching RSS channels,
merging and filtering items and outputting a new RSS channel or Ical data.
</p>
<p><strong>Synopsys:</strong></p>
<command-line><![CDATA[erssical [options] <url|file>]]></command-line>
<p>
<code>erssical</code> reads the query from the given <code>file</code> or fetches it from
the given <code>url</code>, executes it and outputs the result on stdout.
</p>
<p>
Options are:
</p>
<div class="options"><hcode defer_="1" ><include file="./options_erssical.txt" raw="true"/></hcode></div>
</sw-page>