<sw-page title="Installation"
navbar-doc="active"
>
<section id="deps" title="Dependencies">
<p>
Compiling Erssical requires the following software to be installed:
</p>
<ul>
<li><ext-a href="https://ocaml.org/">OCaml &gt;= 4.12.0</ext-a>,</li>
<li><ext-a href="https://dune.build/">Dune &gt;= 2.5</ext-a>,</li>
<li><ext-a href="https://github.com/mirage/ocaml-cohttp/">Cohttp &gt;= 4.0.0</ext-a>,</li>
<li><ext-a href="https://ocsigen.org/lwt">Lwt &gt;= 5.4.0</ext-a> with lwt_ppx,</li>
<li><ext-a href="https://github.com/roburio/icalendar">Icalendar &gt;= 0.1.5</ext-a>,</li>
<li><ext-a href="https://zoggy.frama.io/ocamlrss/">OCaml-RSS &gt;= 3.0</ext-a>,</li>
<li><ext-a href="https://www.good-eris.net/xtmpl/">Xtmpl &gt;= 0.19.0</ext-a>,</li>
<li><ext-a href="https://framagit.org/zoggy/ocaml-lru-cache">Lru-cache &gt;= 0.3</ext-a>.</li>
</ul>

<p>
Erssical is also available in <ext-a href="http://opam.ocamlpro.com">OPAM</ext-a>:
</p>
<hcode>opam install erssical</hcode>

</section>

<section id="making" title="Compiling and installing">
<p>
After extracting the source tree, go to the extracted directory and type:
</p>
<hcode>make install</hcode>
<p>
This will install the erssical library, <icode>erssical[.byte]</icode> and <icode>erssical-server[.byte]</icode>
using Dune.
</p>
</section>

</sw-page>