<sw-page title="Documentation"
navbar-doc="active"
>
<!--
<section title="General considerations">
All text is assumed to be UTF-8 (source code, configuration files, ...).
If your tools manipulate non UTF-8 text, it should not be a problem, though.
</section>
-->
<ul class="toc">
<li><sw-page href="doc-install"/></li>
<li><sw-page href="doc-how-it-works"/></li>
<li><sw-page href="doc-event"/></li>
<li><sw-page href="doc-query"/></li>
<li><sw-page href="doc-erssical"/></li>
<li><sw-page href="doc-erssical-server"/></li>
<li><a href="refdoc/erssical/index.html">Erssical library reference documentation</a></li>
<!--
<li>A step-by-step example:
  <ol>
    <li><sw-page href="example">basics</sw-page></li>
    <li><sw-page href="example2">filetypes and sets</sw-page></li>
  </ol>
</li>
<li><sw-page href="doc-user"/></li>
<li><sw-page href="doc-cmdline"/></li>
<li><sw-page href="doc-bash-completion"/></li>
<li><sw-page href="doc-devel"/></li>
-->
</ul>
</sw-page>