<sw-page title="Download"
navbar-download="active"
with-contents="true"
>
<release version="" date="">
<if version=""><error_>Missing version number in &lt;release&gt;</error_></if>
<li><a href="https://framagit.org/zoggy/erssical/-/archive/&lt;version/&gt;/erssical-&lt;version/&gt;.tar.bz2"><version/></a>
[<doc-date doc-path="release-&lt;version/&gt;"/>]:
<include id="changes-&lt;version/&gt;" href="release-&lt;version/&gt;#changes"/>
</li>
</release>

<contents>
<section>
<p>
Erssical is <ext-a href="https://framagit.org/zoggy/erssical">hosted on Framagit</ext-a>.
</p>
<p>Use git to get the current version:</p>
<command-line>$ git clone https://framagit.org/zoggy/erssical.git
</command-line>
<p>
Then read the <sw-page href="doc-install"/> section.
</p>
</section>

<section id="releases" title="Releases">
<ul>
<release version="1.1.0"/>
<release version="1.0"/>
<li><a href="https://framagit.org/zoggy/erssical/-/archive/release-0.1/erssical-release-0.1.tar.bz2">0.1</a> [2013-06-07]: Initial release.</li>
</ul>
</section>
</contents>
</sw-page>