<sw-page
main_="true"
title="Erssical"
stog:use="software"
stog:site-description=""
stog:site-email="maxence 'DOT' guesdon 'AT' inria 'DOT' fr"
stog:site-url="https://zoggy.frama.io/erssical"
stog:rss-length="10"
stog:section-counter="false"
stog:subsection-counter="false"
navbar-home="active"
with-contents="true"
>
<stog:sh foo=""><command-line defer_="1"><contents/></command-line></stog:sh>
<stog:ixml foo=""><icode lang="xml" defer_="1"><contents/></icode></stog:ixml>
<stog:hxml foo=""><hcode lang="xml" defer_="1"><contents/></hcode></stog:hxml>
<contents>
<image style="float: right" src="bigpicture.svg" width="200" height="250"/>
<p>
Erssical is a tool to fetch, merge and filter Event RSS channels. An Event RSS
channel is a regular RSS 2.0 feed with additional fields to describe events.
Erssical can also export the final RSS channel to Ical format, so that
events described in the source feeds can be imported in your favorite calendar application.
</p>
<p>Erssical is released under
<ext-a href="http://www.gnu.org/licenses/gpl.html">GNU GPL version 3</ext-a>.
</p>
<section id="author" title="Author">
Maxence Guesdon <icode>&lt;maxence 'DOT' guesdon 'AT' inria 'DOT' fr&gt;</icode>
</section>
</contents>
</sw-page>




